# Carpeta donde se guardan los registros de errores de Apache y MySQL {trazabilidad}
logs/

# Directorio físico donde se almacenan las tablas de la base de datos [persistencia]
mysql_data/

# Carpeta de Moodle para guardar archivos subidos, caché y sesiones {moodledata}
data_moodle/
